<div class="main container card content">
  <h1>Things</h1>

  <div>
    <button class="btn btn--xl btn--blue btn--raised" lx-ripple
      ng-click="trelloConnect()">Connect to Trello</button>
  </div>


  <form ng-submit="save()" name="form" novalidate="" class="thing-form">
    <div flex-container="row" flex-gutter="24">
      <div flex-item>
          <lx-text-field label="Name">
              <input type="text" ng-model="newThing.name">
          </lx-text-field>
      </div>
      <button class="btn inline-button btn--m btn--blue btn--fab" lx-ripple><i class="mdi mdi-plus"></i></button>

      <div flex-item>
        <div class="card">
          <lx-search-filter model="search" filter-width="100%" placeholder="Search"></lx-search-filter>
        </div>
      </div>

      <div flex-item>
        <div class="card">
          <lx-dropdown>
            <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dropdown-toggle>
                {{ orderProperty==='1' ? 'Ascending' : 'Descending' }}
            </button>
            <lx-dropdown-menu>
              <ul>
                  <li><a class="dropdown-link" ng-click="orderProperty='1'">Ascending</a></li>
                  <li><a class="dropdown-link" ng-click="orderProperty='-1'">Descending</a></li>
              </ul>
            </lx-dropdown-menu>
          </lx-dropdown>
        </div>
      </div>
    </div>

  </form>
  <div class="panel panel-default">
    <div class="panel-body">
      <ul class="nav nav-tabs nav-stacked col-md-9 col-sm-12">
        <li dir-paginate="thing in things | itemsPerPage: perPage" total-items="thingsCount.count">
          <p>{{ thing.name }}
            <button ng-click="remove(thing)" class="btn">&times;</button>
          </p>
        </li>
      </ul>
      <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="col-md-12"></dir-pagination-controls>
    </div>
  </div>
  <p>Total number of things: {{thingsCount.count}}</p>
</div>