.time-date {
  display: none;
  position: fixed;
  top: 32px;
  left: 50%;
  z-index: 1000;
  font-size: 14px !important;
  width: 280px;
  margin-left: -140px;
  background-color: #FFFFFF;
  opacity: 0;
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.5);
  transform: translateY(-50px);
  transition-property: opacity, transform;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
