.loading-message {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}

.sk-spinner-rotating-plane.sk-spinner,
.sk-spinner-chasing-dots.sk-spinner .sk-dot1,
.sk-spinner-chasing-dots.sk-spinner .sk-dot2 {
  background-color: #fff;
}